body {
    font-family: 'Inter', sans-serif;
}

$font-64: 64px;
$font-44: 44px;
$font-30: 30px;
$font-21: 21px;
$font-20: 20px;
$font-19: 19px;
$font-16: 16px;
$font-14: 14px;

$weight-700: 700;
$weight-600: 600;
$weight-500: 500;
$weight-400: 400;